@import './libs/bootstrap-reboot.min';
@import './variebles/variebles';
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');


body{
    font-family: 'DM Sans', sans-serif;
    color: #262626;
}
.container{
    width: 1440px;
    margin: 0 auto;
}

@import './block/btn';
@import './block/title';
@import './block/menu';
@import './block/promo';
@import './block/categories';
@import './block/webbutik';
@import './block/hem';
@import './block/web';
@import './block/skiska';