nav{
    display: flex;
    justify-content: space-between;
    height: 116px;
    align-items: center;
}

.menu{
    display: flex;
    &__list{
        list-style-type: none;
        display: flex;
        align-items: center;
        gap: 50px;
        margin: 0;
        margin-right: 100px;             
           
    }
    &__link{
        color: #000;
        &:hover{
            text-decoration: none;
            color: #000;
        }
    }
}

.header{
    &__basket{
        position: relative;
        width: 35px;
        height: 35px;
        &::after{
            content: '0';
            position: absolute;
            top: 0;
            right: 0;
            width: 21px;
            height: 21px;
            background-color: #e5e5e5;
            border-radius: 100%;
            text-align: center;
        }
    }
    &__btn{
        margin-left: 35px;
    }
}