.skiska{
    padding-top: 150px;
    &__wrapper{
        display: grid;
        grid-template-columns: repeat(2, 707px);
        column-gap: 26px;
    }
    &__block{
        padding: 40px 60px;
        background-color: #F4F4F4;
    }
    &__title{
        font-weight: 700;        
        font-size: 28px;
        line-height: 36px;
        span{
            color:$color;
        }
    }
    &__descr{
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
        margin-bottom: 35px;
    }
    &__form{
        display: grid;
        grid-template-columns: repeat(2, 288px);
        gap: 10px 11px;
        input{
            padding: 11px 15px;
            border: none;
            &::placeholder{
                font-size: 14px;
                color: #9F9F9F;
            }
        }
        textarea{
            resize: none;
            grid-column: 1/3;
            height: 80px;
            padding: 11px 17px;
            border: none;
            &::placeholder{
                font-size: 14px;
                color:#9F9F9F;
            }
        }
    }
    &__trigger{
        display: flex;
        justify-content: space-between;
        grid-column: 1/3;     
    }
    &__content{
        align-self: end;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        text-align: right;
        a{
            color:$color;
            &:hover{
                text-decoration: none;
            }
        }
    }
    &__btn{
        border: none;
        padding: 15px 83px;
    }
    &__img{
        img{
            width: 100%;
            object-fit: cover;
            height: 100%;
        }
    }
}