.web{
    padding-top: 200px;
    &__title{
        font-weight: 500;
        font-size: 36px;
        line-height: 46px;
        color: #262626;
        span{
            font-weight: 700;
            color: $color;
        }
    }
    &__wrapper{
        display: grid;
        grid-template-columns: repeat(3, 463px);
        gap: 25px;
        margin-top: 35px;
        min-height: 597px;
    }

    &__item{
        width: 463px;
        min-height: 597px;
        img{
            width: 100%;
        }
    }
    &__name{
        margin-top: 15px;            
        font-weight: 500;
        font-size: 24px;
        line-height: 31px;
        margin-bottom: 35px;
    }
    &__snap{
        background-color: #fff;
        color: $color;
        padding: 15px 25px;
        border: 1px solid $color;        
        font-size: 18px;
        line-height: 23px;
        &:hover{
            color: $color;
        }
    }

    &__subtitle{
        margin-top: 56px;                
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        a{
            color:$color;
        }
    }
}